@import './partials/variables.scss';

* {
  box-sizing: border-box;
}

body {
  color: $app-text-color;
  font-family: 'Lato', sans-serif;
  margin: 0;
  #app {
    width: 100%;
    height: 100%;
  }
}

ul {
  list-style: none;
}

tspan {
  font-family: 'Lato', sans-serif;
}