.upgrade-page {
  display: flex;
  flex: 1;
  padding: 25px;
  flex-direction: column;
  overflow-y: auto;
  &__paypal-account {
    text-align: center;
    &__text {
      margin-bottom: 20px;
    }
  }
  upgrade-buttom {
    text-align: center;
    height: 35px;
    margin-bottom: 50px;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
  }

  &__key-features {
    text-align: center;
    &__sub-title {
      font-size: 20px;
    }
    &__feature-list {
      display: flex;
      flex: 1;
      width: 750px;
      margin: 50px auto 0 auto;
      flex-wrap: wrap;
      &__row {
        display: flex;
        flex: 1;
        margin-bottom: 20px;
        justify-content: center;
      }
      &__each-feature {
        width: 250px;
        height: 175px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 0 0.625rem 0.875rem 0 rgba(52, 71, 90, 0.1);
        margin-right: 20px;
      }
    }
    &__more {
      margin-bottom: 50px;
    }
  }
}