.highlights {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  &__all-list{
    display: flex;
    flex: 1;
    padding: 16px;
    flex-direction: column;
    &__title {
      font-size: 15px;
      text-align: center;
      display: flex;
      &__close-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
      }
    }
    &__each-highlight {
      flex-wrap: wrap;
      flex: 1;
      word-wrap: break-word;
      font-size: 12px;
      font-weight: 300;
      margin-top: 11px;
      text-align: center;
      line-height: 20px;
      overflow-y: auto;
      &__no-content {
        margin-top: 60px;
        font-style: italic;
      }
      &__each {
        background-color: #dadada;
        color: white;
        margin-top: 1px;
        display: block;
      }
    }
  }
  .highlights-page-overlay {
    background-color: rgba(#d4d4d4, 0.6);
  }
  &__action-bar {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 15px 20px 15px;
    &__delete-folder {
      display: flex;
      align-items: center;
      margin-right: 10px;
      cursor: pointer;
      span {
        font-size: 11px;
        margin-right: 4px;
      }
    }
    &__show-only-favourites {
      display: flex;
      align-items: center;
      margin-right: 20px;
      &__text {
        display: inline-block;
        font-size: 11px;
        margin-right: 15px;
      }
      &__toggle-wrapper {
        display: inline-block;
      }
    }
    &__search-bar {
      width: 200px;
      position: relative;
      display: flex;
      align-items: center;
      &__search-icon {
        position: absolute;
        left: 7px;
      }
      .input-wrapper {
        height: 32px;
        input {
          height: 32px;
          padding-left: 35px;
          border-radius: 20px;
          font-size: 10px;
          box-shadow: 3px 2px 4px 0px rgba(230, 230, 230, 0.99);
        }
      }
    }
  }
  &__list{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 40px;
    &__no-content {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      font-style: italic;
    }
    &__item {
      display: flex;
      width: 230px;
      min-height: 350px;
      max-height: 350px;
      border-radius: 10px;
      flex-direction: column;
      box-shadow: 0 0.625rem 0.875rem 0 rgba(52, 71, 90, 0.1);
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
      border: 1px solid #ececec;
      &:hover {
        img {
          opacity: 1;
        }
      }
      &__content {
        padding: 5px;
        position: absolute;
        top: 31%;
        bottom: 0;
        background: white;
        left: 0;
        right: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &__image-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          opacity: 0.7;
          transition: opacity 0.5s;
        }
        &__folder-color {
          width: 25px;
          &__circle {
            width: 15px;
            height: 15px;
            display: block;
            border-radius: 50%;
          }
        }
        &__favourite {
          width: 20px;
          margin-right: 7px;
          text-align: right;
          cursor: pointer;
        }
      }
      &__url {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &__title {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10px;
        height: 52px;
        overflow: hidden;
      }
      &__show-all {
        display: flex;
        min-height: 50px;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40px;
        &__btn {
          font-size: 12px;
          padding: 5px;
          border: 1px solid;
          color: #80a280;
          transition: color 0.5s, background-color 0.5s;
          &:hover {
            background-color: #80a280;
            color: white;
          }
        }
      }
      &__highlights-length {
        font-size: 13px;
        font-weight: 300;
        margin-left: 5px;
      }
      &__menu-tray {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        padding: 0px 5px;
        background: white;
        padding-bottom: 10px;
        bottom: 0;
        &__delete {
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }
}