@import './../../../../public/scss/partials/variables.scss';

.input-wrapper {
  input {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    line-height: 40px;
    border: transparent;
    border-bottom: 1px solid $input-border-color;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
    color: #5F5F5F;
  }

  &__error-message {
    text-align: left;
    font-size: 11px;
    color: #e65b5b;
  }
  &.material {
    position: relative;
    margin-bottom: 25px;
    label {
      position: absolute;
      top: 10px;
      transition: top 0.4s;
    }
    input {
      position: relative;
      background: transparent;
      padding-left: 0px;
    }

    &.focused {
      label {
        top: -20px;
        color: rgb(64, 63, 76);
      }
    }
  }
}