.highlite-modal {
  &__text {
    margin-top: 20px;
  }

  &__button-wrapper {
    display: flex;
    width: 400px;
    flex: 1;
    margin: 0 auto;
    margin-top: 20px;
    &__column {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
}

.ReactModal__Content {
  left: 400px !important;
  right: 400px !important;
  top: 100px !important;
  bottom: 500px !important;
  text-align: center;
}