.dropdown {
  position: absolute;
  top: calc(100% + 1px);
  min-height: 0px;
  background: white;
  box-shadow: 0 0.625rem 0.875rem 0 rgba(52, 71, 90, 0.1);
  z-index: -1;
  border: 1px solid rgba(230, 230, 230, 0.99);
  border-radius: 3px;
  right: 0px;
  width: 200px;
  display: block;
  opacity: 0;
  transition: height 1s, opacity 1s, z-index 1s, overflow-y 1s;
  overflow-y: auto;
  &__wrapper {
    overflow-y: auto;
    height: 100%;
  }
  &.folders {
    transition: none;
    top: calc(100% + 9px);
    min-height: 116px;
    max-height: 300px;
    &:after {
      left: calc(70% + 1px);  
    }
    &:before {
      left: 70%;
    }
  }
  &.show {
    min-height: 116px;
    z-index: 10;
    opacity: 1;
    overflow-y: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    left: calc(16% + 1px);
    top: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    clear: both;
  }
  &:before {
    content: '';
    position: absolute;
    left: 16%;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #e8e8e8;
    clear: both;
  }
  &__menu {
    padding: 10px 15px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    &__circle {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      float: right;
    }
    &:hover {
      background-color: #edf7ff;
    }
  }
}