.header {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(#E6E6E6,0.99);
  &__logo-wrapper {
    width: 225px;
    .logo {
      margin-bottom: 0px;
    }
  }
  &__rest-of-header {
    width: calc(100% - 225px);
    display: flex;
    flex-direction: row-reverse;
    &__user-info {
      min-width: 130px;
      display: flex;
      position: relative;
      cursor: pointer;
      &__avatar {
        display: flex;
        align-items: center;
      }
      &__info-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 7px;
        align-items: center;
        justify-content: center;
      }
      &__name {
        font-size: 13px;
        font-weight: 100;
        padding-bottom: 5px;
        text-align: center;
      }
      &__plan-type {
        text-align: center;
      }
    }
    .upgrade-now-cta {
      margin-top: 18px;
      margin-right: 25px;
    }
  }
}