@import './../../../public/scss/partials/variables.scss';

.reset-password {
  padding-top: 130px;
  .form {
    min-height: 300px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #FCFAFA;
    box-shadow: 0px 0px 6px 1px rgba(246, 166, 35, 0.6);
    border-radius: 1px;
    position: relative;
    .button {
      margin-top: 20px;
    }
    .signup-label {
      margin-top: 25px;
      font-size: 18px;
      a {
        text-decoration: none;
        color: #4C4A49;
        &:hover {
          color: $app-universal-color-code;
        }
      }
    }

    .forget-password {
      font-size: 11px;
      font-weight: 300;
      margin-top: 20px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #4C4A49;
        &:hover {
          color: $app-universal-color-code;
        }
      }
    }
  }
}