.notifications {
  position: absolute;
  top: 10%;
  right: 30px;
  background: #69bb57;
  border-radius: 3px;
  color: white;
  padding: 15px;
  box-shadow: 0px 0px 6px 1px rgba(24, 138, 33, 0.6);
  display: none;
  &.show {
    display: block;
  }
}