.sidebar {
  width: 190px;
  box-shadow: 3px 2px 4px 0px rgba(230, 230, 230, 0.99);
  overflow-y: auto;
  &__menu {
    padding-left: 20px;
    margin-top: 75px;
    &__item {
      cursor: pointer;
      margin-top: 10px;
      display: flex;
      align-items: center;
      &__text {
        margin-left: 15px;
        font-weight: 300;
        font-size: 14px;
      }
      &.active {
        color: #ECAA27;
      }
      &.hover {
        &:hover {
          color: #ECAA27;
        }
      }
    }
    &__folder-list{
      padding-left: 30px;
      &__no-folders {
        font-size: 11px;
        font-style: italic;
        margin-top: 10px;
      }
      &__folder {
        margin-top: 10px;
        display: flex;
        align-items: center;
        &.active, &:hover {
          color: #ECAA27;
        }
        &__circle {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #00bbe4;
          margin-right: 10px;
        }
        &__text {
          font-size: 13px;
          font-weight: 300;
          cursor: pointer;
        }
      }
    }
    &__add-folder-wrapper {
      margin-top: 20px;
      .add-folder {
        input {
          height: 25px;
          width: 144px;
          border: 1px solid #DFDDDD;
          font-size: 11px;
        }
      }
    }
  }
}