@import './../../../public/scss/partials/variables.scss';

.label {
  display: inline-block;
  padding: 3px 15px;
  border-radius: 15px;
  &.success {
    background: #69BB57;
    color: $white;
    font-size: 10px;
  }
  &.gray {
    background: #a0a0a0;
    color: $white;
    font-size: 10px;
  }
}