@import './../../../public/scss/partials/variables.scss';

.login-wrapper {
  padding-top: 130px;
  .form {
    min-height: 300px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #FCFAFA;
    box-shadow: 0px 0px 6px 1px rgba(246, 166, 35, 0.6);
    border-radius: 1px;
    .button {
      margin-top: 20px;
    }
    .text {
      font-size: 15px;
      margin-bottom: 25px;
    }
  }
}