.settings {
	display: flex;
	flex: 1;
	padding: 80px 80px;
	flex-direction: column;
	overflow-y: auto;
  position: relative;
	&__title {
		font-size: 23px;
    margin-bottom: 24px;
	}
	&__form {
    max-width: 400px;
    margin-bottom: 25px;
	}
}
